@use "reset";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/// Fonts
$main-font: 'Roboto', sans-serif;

// Colors
$Tomato: hsl(4, 100%, 67%);
$Buttons-Idle: hsl(234, 29%, 20%);
$Background-Body: hsl(235, 18%, 26%);
$Background-Containers: white;
$Input: hsl(231, 7%, 60%);
$Attribution: hsl(228, 45%, 70%);

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: $Background-Body;
	font-family: $main-font;
}

// Main Container

.main_container {
	display: flex;
	width: 696px;
	height: 481px;
	background-color: $Background-Containers;
	border-radius: 27px;
	font-weight: 400;
	overflow: hidden;
	box-shadow: 5px 5px 15px 15px hsla(235, 32%, 15%, 0.551);
}

.main_text_container {
	width: 60%;
	padding: 4.5rem 3rem 0rem 3rem;
	font-size: 0.75rem;
	
	.header {
		font-size: 2.62rem;
		font-weight: 700;
		color: $Buttons-Idle;
		margin-bottom: 1.15rem;
	}

	.main_paragraph {
		line-height: 150%;
	}

	.bullets {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		row-gap: 0.6rem;
		margin: 1.2rem 0rem 2.1rem 0rem;

		img {
			width: 5.65%;
			margin-right: 0.75rem;
		}
	
		p {
			width: 89.35%;
		}
	}

	.label_error{
		display: flex;
		justify-content: space-between;

		.label {
			font-size: 0.57rem;
			font-weight: 700;
		}
	
		.error {
			font-size: 0.6rem;
			font-weight: 700;
			color: $Tomato;
		}
	}

	.input {
		width: 100%;
		padding: 0.79rem 1.1rem;
		border: 1px solid $Input;
		border-radius: 6px;
		color: $Input;
		margin: 0.5rem 0rem 1.1rem 0rem;

		&::placeholder {
			font-size: 0.75rem;
			font-family: $main-font;
			color: $Input;
		}

		&:hover {
			cursor: pointer;
			border: 1px solid black;
			color: black;
		}

		&:focus {
			outline: none;
			border: 1px solid black;
			color: black;
		}
	}

	.button {
		background-color: $Buttons-Idle;
		width: 100%;
		padding: 0.85rem;
		border-radius: 6px;
		border: 1px solid $Buttons-Idle;
		color: white;
		font-weight: 700;
		font-size: 0.72rem;

		&:hover {
			background-image: linear-gradient(to right, rgb(240, 85, 121), rgb(250, 99, 53));
			box-shadow: 1px 6px 20px rgba(250, 99, 53, 0.69);
			cursor: pointer;
		}

		&:active {
			transform: translate(1px, 2px);
			box-shadow: 1px 6px 10px rgba(250, 99, 53, 0.69);
		}
	}
}

.main_img_container {
	width: 52%;
	text-align: center;
			
	.main_img {
		width: 100%;
		height: 100%;
		padding: 1rem 1.1rem 1rem 0rem;
	}
}

// Message

.message {
	width: 378px;
	height: 390px;
	background-color: white;
	padding: 2.2rem 3rem;
	border-radius: 28px;
	overflow: hidden;
	box-shadow: 5px 5px 15px 15px hsla(235, 32%, 15%, 0.551);

	img {
		width: 48px;
		margin-bottom: 1.75rem;
	}

	h1 {
		font-size: 2.62rem;
		font-weight: 700;
		color: $Buttons-Idle;
		margin-bottom: 1.10rem;
	}

	p {
		line-height: 150%;
		font-size: 0.75rem;
		margin-bottom: 1.9rem;
	}

	span {
		font-weight: 700;
	}

	button {
		background-color: $Buttons-Idle;
		width: 100%;
		padding: 0.85rem;
		border-radius: 6px;
		border: 1px solid $Buttons-Idle;
		color: white;
		font-weight: 700;
		font-size: 0.72rem;

		&:hover {
			background-image: linear-gradient(to right, rgb(240, 85, 121), rgb(250, 99, 53));
			box-shadow: 1px 6px 20px rgba(250, 99, 53, 0.69);
			cursor: pointer;
		}

		&:active {
			transform: translate(1px, 2px);
			box-shadow: 1px 6px 10px rgba(250, 99, 53, 0.69);
		}
	}
}

.attribution {
	position: absolute;
	bottom: 30px;
	font-size: 11px;
	text-align: center;
	color: white;

	a {
		color: $Attribution;
	}
}

.main_visible {
	display: flex;
}

.message_visible {
	display: block;
}

.hidden {
	display: none;
}